# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
.idea

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
